.git
.github
node_modules
vendor
public/build
public/hot
storage/app/private/*
storage/app/public/*
storage/app/chunks/*
storage/app/trash/*
storage/app/thumbs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
.env
.env.*
!.env.docker.example
*.sqlite
tests
.phpunit.result.cache
docs
README.md
compose.yaml
Dockerfile
.dockerignore
